In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("../dataset/Labels.csv")

In [3]:
df.head()

        file letter  label
0  a (1).jpg      a      1
1  a (2).jpg      a      1
2  a (3).jpg      a      1
3  a (4).jpg      a      1
4  a (5).jpg      a      1

In [14]:
import matplotlib.image as mpimg
path = '../dataset/Ungrouped/'
X = []
y = []
for img in os.listdir(path):
  feature = mpimg.imread(path + img)
  if feature.shape == (32,32):
    X.append(feature)
    img_id = int(img.split('.')[0])
    y.append(df['letter'][img_id-1])

In [17]:
X = np.array(X).reshape(-1,32,32,3)
y = np.array(y)
final_test = np.array(final_test).reshape(-1,32,32,1)
X.shape, y.shape, final_test.shape

[]